include _bemto.pug
//mixin article_item(title, image, src, ago, excerpt)

mixin page-header(title, desc, bg, extClass)
    +b.c-page-top--row.row(class=""+extClass, style="background-image: url('"+ bg +"')"  )
        +e.container.container  
            +e.title
                h1!= title
            +e.desc!= desc
            


mixin page-about-check(text)
    +b.p-about-check
        +e.I.icon
        +e.desc!= text
        
mixin our-client-item(image, num)
    +b.LI.c-our-client-item(class="c-our-client-item--"+num)
        +e.A.link(href="#")
            +e.IMG.img(src="/images/clients/"+image)

mixin single_event_result(text)
    +b.LI.single-event-result
        //img(src="/images/result-check.svg")
        +e.P.text
            != text
            
mixin single_event_for_check(text)
    +b.single-event-for-check
        +e.icon
            img(src="/images/single-event-for-check.svg")
        +e.text
            p!= text
            
mixin advantage-item(text)
    +b.LI.c-advantages-item
        +e.I.icon
        +e.desc
            p!= text
            
mixin event-soon-card(date, name, type)
    +b.b-event-soon-card
        +e.date
            p= date
        +e.name
            +e.A(href="#").link= name
        +e.type
            p= type
            
mixin event-soon-card-to-all()
    +b.b-event-soon-card--to-all
        +e.A(href="#").link--to-all
            +e.I.icon--to-all
            span Смотреть календарь #[br]мероприятий
            
mixin se_feedback_item(photo, name, job, text)
    +b.feedback
        +e.photo
            img(src=""+ photo)
        +e.info
            +e.name
                p= name
            +e.job
                p= job
            +e.text
                p= text
            
            
mixin leader()
    +b.event-leader
        +e.photo
            img(src="/images/leader-photo.png")
        +e.info
            +e.name
                p Катерина Костюкова
            +e.desc
                ul
                    li Коуч продвинутого уровня PCC ICF 
                    li Ментор коучей 
                    li Специализация – бизнес-коучинг, коучинг     первых лиц 
                    li Более 1500 часов сессий
                
mixin team-leader()
    +b.b-team-item
        +e.photo
            img(src="/images/team-photo.png")
        +e.info
            +e.name
                p Катерина Костюкова
            +e.desc
                p Лидер International Coach Centre ISTOK, коуч PCC ICF, коуч первых лиц руководителей, сертифицированный ментор коучей
                +e.portfolio
                    +e.A.portfolio-link(href="#") Скачать портфолио
                
                
mixin our-partners(logo)
    +e.LI.our-partners-item
        +e.A.logo(href="#")
            +e.IMG.logo(src="/images/partners/"+logo)
                    
                    
mixin event_price(name, desc, price)
    +b.event-price
        +e.name
            p= name
        +e.desc
            != desc
        +e.HR.limiter
        +e.price-label
            p Стоимость
        +e.price-value
            p= price 
                span.rouble
                
mixin accordeon_item(name, text)
    +b.ui-accordeon-item
        +e.header
            +e.header-text
                +e.header-date
                    p 16-18 ноября
                +e.header-title 
                    p!= name
            +e.header-action
                +e.A.extend.c-inherit.tdn(href="#") Развернуть
            
        +e.body
            +e.body-inner
                != text
                
                
mixin front_post_item(thumb, title, part)
    +b.p-front-post
        +e.thumb-wrpr
            +e.IMG(src='/images/'+ thumb).thumb
        +e.info-wrpr
            +e.title
                +e.A(href="#").link!= title
            +e.part
                +e.A(href="#").link-part!= part
            
mixin front-service-item(mod, text)
    +b.p-front-service-item(class="p-front-service-item--"+mod)
        +e.I.icon
        +e.text
            p!= text

mixin front-main-program(img, name, desc)
    +b.p-front-main-program
        +e.thumb-wrpr
            +e.IMG.thumb(src="/images/"+ img)
        +e.name
            +e.A(href="#").name-link= name
        +e.desc
            +e.A(href="#").desc-link= desc
        +e.date
            label.label Ближайший тренинг
            spav.value 16 сентября

mixin front-blog-item(title, exceprt)
    +b.p-front-blog-post
        +e.date 
            span 5 августа 2018
        +e.A(href="#").title!= title
        +e.A(href="#").excerpt!= exceprt
            
mixin p-front-feedback(img, name, job, text)
    +b.p-front-feedback
        +e.img-name-job
            +e.img-wrpr
                +e.IMG.img(src="/images/"+ img)
            +e.name
                span= name
            +e.job
                span= job
        +e.text
            p!= text
            











































